*{
    font-family: Helvetica;
}

h1{
    text-align: center;
    color: white;
    border: solid black;
}

.form{
    width: 450px;
    margin: 0% auto;
}

.item{
    border: solid 1px;
    border-radius: 15px;
    width: 350px;
}